
profile_blahaj() {
	profile_standard
	profile_abbrev="<%= @name %>"
	title="<%= @type %>"
	desc="<%= @description %>"
	apkovl="genapkovl-blahaj.sh"
	apks="$apks <%= @apks %>"
	hostname="<%= @name %>"
}
